<div class="about-wm">
    <h2>About</h2>
    <div class="breadcrumb">
        <a href="javascript:void(0)" id="ancLogin" ng-click="profileCtrl.goToBack();">&#8656; Back</a>
    </div>
    <p><strong>Work management</strong> is the art of defining, creating and tracking efforts required for achieving project goals. Proper work management is required for achieving goals succesfully. work management can be measured by effort. we can call it as effort management.</p>
    <p><strong>Effort management</strong> is the effective assignment and allocation of time and resources for achieving project goals.</p>
    <blockquote>I am definitely going to take a course on time management… just as soon as I can work it into my schedule.<cite> – Louis E. Boone</cite></blockquote>
    <blockquote>A plan is what, a schedule is when. It takes both a plan and a schedule to get things done.<cite>– Peter Turla</cite></blockquote>

</div>