<div class="contactus-module">
    <h2>Contact Us</h2>

    <div class="breadcrumb">
        <a href="javascript:void(0)" id="ancLogin" ng-click="profileCtrl.goToBack();">&#8656; Back</a>
    </div>
    <div class="contactus-section float-center">
        <div class="left-col"><i class="fa fa-envelope"></i></i>Email:</div>
        <div class="right-col"><a href="mailto:creativedreamlion@gmail.com">creativedreamlion@gmail.com</a></div>
        <div class="clear"></div>

        <div class="left-col"><i class="fa fa-phone"></i>Phone:</div>
        <div class="right-col"><a href="tel:4084548309">+1(408)454-8309</a></div>
        <div class="clear"></div>
    </div>
</div>