.contactus-module{
  margin-top:20px;
  h2{
    padding-left:15px;
  }
  .breadcrumb{
    padding: 10px 0 0 10px;
  }
  .contactus-section {
    padding:30px 0 0 20px;
    .left-col {
      float: left;
      width: 10%;
      margin-left: 30px;
      i{
        margin-right:5px;
      }
    }
    @media screen and (max-width: 39.9375em) {.left-col {width: 20% !important;}}
    .right-col {
      float: left;
      width: 40%;
    }
  }
}

.about-wm{
  margin-top:20px;
  .proverb-quote{
    font-style: italic;
  }
  h2{
    padding-left:15px;
  }
  .breadcrumb{
    padding: 10px 0 0 10px;
  }
  p{
    padding:20px 0 0 20px;
  }
}