<div class="text-center logout-module">
    <p class="color-red" ng-if="logoutCtrl.timeOutState==='timeout'"><strong>Session expired.</strong></p>
    Log out Successful. Please <a href="javascript:void(0)" ng-click="logoutCtrl.loginagain();">click here</a> to login again.
</div>