<div data-alert class="alert-box large fa fa-exclamation-triangle page-level-error" ng-if="serviceError">
    <i class="fi-x"></i>
    <span>{{errorMsg}}</span>
</div>
<div data-alert class="alert-box success positive-message" ng-if="successMessage">
    <i class="ionicons ion-checkmark-circled"></i>
    <span>{{positiveMsg}}</span>
</div>
<div class="divLoginModule">
    <div class="signin-module large-5 columns">
        <h2>Sign In</h2>
        <ng-form name="loginCtrl.formSignIn" novalidate>
            <div class="emailid-sec">
                <label for="txtEmailId" class="ada-hidden">Email ID</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="email" name="txtEmailId" id="txtEmailId" ng-model="loginCtrl.signInData.emailId" placeholder="Email ID" ng-required="true"/>

                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignIn.$submitted && loginCtrl.formSignIn.txtEmailId.$invalid">
                            <span ng-show="loginCtrl.formSignIn.txtEmailId.$error.required">Email ID is required</span>
                            <span ng-show="loginCtrl.formSignIn.txtEmailId.$error.email">Enter a valid Email ID</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="password-sec">
                <label for="txtPassWord" class="ada-hidden">Password</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="password" name="txtPassWord" id="txtPassWord" ng-model="loginCtrl.signInData.password" placeholder="Password" ng-required="true"/>
                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignIn.$submitted  && loginCtrl.formSignIn.txtPassWord.$invalid">
                            <span ng-show="loginCtrl.formSignIn.txtPassWord.$error.required">Password is required</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="signin-btn">
                <button  class="button primary small" type="submit" ng-click="loginCtrl.submitForm('login')">Sign In</button>
            </div>
        </ng-form>
    </div>
    <div class="signup-module large-7 columns">
        <h2>Sign Up</h2>
        <ng-form name="loginCtrl.formSignUp" novalidate>
            <div class="username-sec">
                <label class="ada-hidden">UserName</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="text" name="txtUName" ng-model="loginCtrl.signUpData.username" placeholder="UserName" ng-required="true"/>
                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignUp.$submitted  && loginCtrl.formSignUp.txtUName.$invalid">
                             <span ng-show="loginCtrl.formSignUp.txtUName.$error.required">Username is required.</span>
                         </span>
                    </div>
                </div>
            </div>
            <div class="emailid-sec">
                <label for="txtSignUpEmailId" class="ada-hidden">Email ID</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="email" name="txtSignUpEmailId" id="txtSignUpEmailId" ng-model="loginCtrl.signUpData.emailId" placeholder="Email ID" ng-required="true"/>
                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignUp.$submitted && loginCtrl.formSignUp.txtSignUpEmailId.$invalid">
                            <span ng-show="loginCtrl.formSignUp.txtSignUpEmailId.$error.required">Email ID is required</span>
                            <span ng-show="loginCtrl.formSignUp.txtSignUpEmailId.$error.email">Enter a valid Email ID</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="password-sec">
                <label for="txtSignUpPassWord" class="ada-hidden">Password</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="password" name="txtSignUpPassWord" id="txtSignUpPassWord" ng-model="loginCtrl.signUpData.password" placeholder="Password" ng-required="true"/>

                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignUp.$submitted && loginCtrl.formSignUp.txtSignUpPassWord.$invalid">
                             <span ng-show="loginCtrl.formSignUp.txtSignUpPassWord.$error.required">Password is required.</span>
                         </span>
                    </div>
                </div>
            </div>
            <div class="conf-password-sec">
                <label for="txtSignUpConfPassWord" class="ada-hidden">Confirm Password</label>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fa fa-retweet"></i><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="small-9  columns">
                        <input type="password" name="txtSignUpConfPassWord" id="txtSignUpConfPassWord" ng-model="loginCtrl.signUpData.confirmPassword" placeholder="Confirm Password" ng-required="true" compare-to="loginCtrl.signUpData.password"/>
                        <span class="errorfield fa fa-exclamation-triangle" ng-if="loginCtrl.formSignUp.$submitted && loginCtrl.formSignUp.txtSignUpConfPassWord.$invalid">
                             <span ng-show="loginCtrl.formSignUp.txtSignUpConfPassWord.$error.required">Confirm password is required.</span>
                            <span ng-show="loginCtrl.formSignUp.txtSignUpConfPassWord.$error.compareTo">Confirm password should match</span>
                         </span>
                    </div>
                </div>
            </div>
            <div class="mbtm-10 terms-cond-sec">By signing up, you are agreeing to our <a href="javascript:void(0);" name="ancTermsAndConditions" onclick="$('#divTermsAndcondition').foundation('reveal', 'open');">terms and conditions</a>.</div>
            <div class="signup-btn">
                <button  type="submit" class="button primary small" ng-click="loginCtrl.submitForm('signup')">Sign Up</button>
            </div>
        </ng-form>
    </div>
    <div class="clear"></div>
    <div class="reveal-modal large" id="divTermsAndcondition" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Terms and Conditions</h2>
        <p>By signing up with us, you are agreeing to below terms and conditions.</p>
        <p>Allowing us to </p>
        <ul>
            <li>to store your details like name, email address and password in our system</li>
            <li>to store details you are providing as your effort management, work management</li>
        </ul>
        <p>We have full rights to decline or remove your subscription and remove all your details from our system anytime, for any reason without prior notice.</p>
        <a class="close-reveal-modal" aria-label="Close" href="javascript:void(0);">&#215;</a>
    </div>
</div>