$font-size : 12px;
$nonretina : "screen and (min-device-width: 1200px) and (max-device-width: 1600px)  and (-webkit-min-device-pixel-ratio: 1)";

body {
  .divLoginModule {
    font-size: $font-size;
    margin-top:20px;
    .errorfield{
      margin-top: -10px;
      display: block;
      margin-bottom: 10px;
    }
    .signin-module{
      float:left;
      .small-2{
        width:14%;
        max-width: 14%;
      }
    }
    .signup-module{
      .small-2{
        width:10%;
        max-width: 10%;
      }
    }
    .terms-cond-sec{
      font-size:14px;
    }
    @media #{$nonretina} {
    .signup-module{
        border-left: 1px solid #cccccc;
      }
    }
    /*input{
      margin: 1rem 0 0 0;
      &:last-child{
        margin: 1rem 0 1rem 0;
      }
    }*/
  }
  #divTermsAndcondition{
    #modalTitle{
      font-size: 24px;
      margin-top: 15px;
    }
    ul{
      list-style-position: inside;
    }
  }
}