<footer class="footer-module">
    <ul class="inline-list footer-links" ng-if="wmc.currentUser.loginStatus">
        <li><a href="javascript:void(0);" id="ancAbout" ng-click="wmc.topNavClick('#ancAbout');">About</a></li>
        <li>&#124;</li>
        <li><a href="javascript:void(0);" id="ancContactUs" ng-click="wmc.topNavClick('#ancContactUs');">Contact Us</a></li>
    </ul>
    <ul class="inline-list footer-links hide-for-medium-up" ng-if="!wmc.currentUser.loginStatus">
        <li><a href="javascript:void(0);" id="ancAbout" ng-click="wmc.topNavClick('#ancAbout');">About</a></li>
        <li>&#124;</li>
        <li><a href="javascript:void(0);" id="ancContactUs" ng-click="wmc.topNavClick('#ancContactUs');">Contact Us</a></li>
    </ul>
    <p class="copyright">© 2016 DreamLion, Inc. All rights reserved.</p>
</footer>