<header class="header-module">
    <div class="type-demo">
        <h1 class="header-title">
            <!--<span class="header-logo fa fa-stack-overflow"></span>-->
            <a href="javascript:void(0);" id="ancLoginHeader" ng-click="wmc.topNavClick('#ancLogin');" ng-if="!wmc.currentUser.loginStatus"><img src="assets/images/workmanagement.jpg" alt="Work Management Logo"/>Work Management</a>
            <a href="javascript:void(0);" id="ancHomeHeader" ng-click="wmc.topNavClick('#ancHome');" ng-if="wmc.currentUser.loginStatus"><img src="assets/images/workmanagement.jpg" alt="Work Management Logo"/>Work Management</a>
        </h1>
        <ul class="inline-list fl-rt show-for-medium-up" ng-if="!wmc.currentUser.loginStatus">
            <li><a href="javascript:void(0);" id="ancAbout" ng-click="wmc.topNavClick('#ancAbout');">About</a></li>
            <li>&#124;</li>
            <li><a href="javascript:void(0);" id="ancContactUs" ng-click="wmc.topNavClick('#ancContactUs');">Contact Us</a></li>
        </ul>
        <ul class="inline-list fl-rt" ng-if="wmc.currentUser.loginStatus">
            <li>Hello, {{wmc.currentUser.userName}}</li>
            <li>&#124;</li>
            <li><a href="javascript:void(0);" ng-click="wmc.logout();">Log Out</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="icon-bar three-up" role="navigation" ng-if="wmc.currentUser.loginStatus">
        <a class="item" aria-labelledby="#lblHome" id="ancHome" ng-click="wmc.topNavClick('#ancHome');" href="javascript:void(0);">
            <i class="fa fa-home"></i>
            <label id="lblHome">Home</label>
        </a>
        <a class="item" aria-labelledby="#lblCreateWorksheet" id="ancCreateWorksheet" ng-click="wmc.topNavClick('#ancCreateWorksheet');" href="javascript:void(0);">
            <i class="fa fa-balance-scale"></i>
            <label id="lblCreateWorksheet">Create Worksheet</label>
        </a>
        <a class="item" aria-labelledby="#lblHistory" id="ancHistory" ng-click="wmc.topNavClick('#ancHistory');" href="javascript:void(0);">
            <i class="fa fa-calendar-times-o"></i>
            <label id="lblHistory">History</label>
        </a>
    </div>
</header>