$headerfont: 'Roboto Slab', serif;
.header-module{
  line-height: 0;
  ul{
    li{
      margin-left: 10px;
    }
  }
  .header-title{
    img{
      width: 55px;
      height: 60px;
      vertical-align: -17px;
    }
    a{
      color:#fff;
      &:hover,&:focus,&:visited{
        text-decoration:none;
      }
    }
    color:white;
    float:left;
    @media screen and (max-width: 40em) {
      font-size: 24px;
    }
    @media screen and (min-width: 40.063em) {
      font-size: 30px;

    }
    @media screen and (min-width: 64.063em) {
      font-size: 36px;
    }
  }
   .header-logo{
    font-family: FontAwesome;
    margin-right:15px;
  }
  .type-demo{
    background-color:black;
    padding: 1px 20px;
  }
  ul.inline-list{
    margin: 20px 0 0 0;
    color:#FFF;
    a{
      color:#FFF;
    }
  }
  .icon-bar{
    background:rgba(51, 51, 51, 0.35);
    height:60px;
    .item {
      padding: 0.25rem;
      span{
        color: #000;
        font-weight: bold;
      }
      .ancLogout{
        display: inline-block;
      }
      &:hover,&:focus,&:visited{
        padding-bottom:0;
        text-decoration: none;
        background-color: rgba(33, 153, 232, 0.75);
      }
      &#ancCreateWorksheet{
        border-left:1px solid #fff;
        border-right:1px solid #fff;
      }
    }
    .Selected{
      background: #008cba none repeat scroll 0 0;
      padding-bottom:0;
    }
    div.item{
      margin-top: 15px;
      :hover{

      }
    }
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px){
      .item{
        label {
          font-size: 0.7rem;
        }
        i{
          font-size: 1.5rem;
        }
      }
    }
  }
}

footer{
  ul{
    li{
      margin-left: 10px !important;
    }
  }
  p.copyright{
    text-align: center;
    color: #999;
    font-size: 0.9em;
  }
  .footer-links{
    position:relative;
    left:42%;
    margin: 0;
    font-size: 15px;
  }
}