<div data-alert class="alert-box large fa fa-exclamation-triangle page-level-error" ng-if="serviceError">
    <i class="fi-x"></i>
    <span>{{errorMsg}}</span>
</div>

<div class="divHistory">
    <h2>Effort History</h2>

    <p ng-if="noDataError">There is no efforts entered to be displayed. Please create efforts in create worksheet section.</p>
    <div class="divHistoryFilter" ng-hide="noDataError">
        <div class="row">
            <div class="medium-2 columns">
                <label for="fromDate">From </label>
                <input type="text" class="datepicker" name="fromDate" id="fromDate" ng-model="historyCtrl.selectedFromDate" readonly/>
                <span class="spanDash">-</span>
                <div data-alert="" class="error-msg missing-date-errormsg" ng-if="historyCtrl.filterFromDateMissingError">
                    <i class="fa fa-exclamation-triangle"></i> <span>{{historyCtrl.filterDateMissingErrorMsg}}</span>
                </div>
            </div>
            <div class="medium-2 columns">
                <label for="toDate">To </label>
                <input type="text" class="datepicker" name="toDate" id="toDate" ng-model="historyCtrl.selectedToDate" readonly ng-disabled="toDateDisabled"/>
                <div data-alert="" class="error-msg missing-date-errormsg" ng-if="historyCtrl.filterToDateMissingError">
                    <i class="fa fa-exclamation-triangle"></i> <span>{{historyCtrl.filterDateMissingErrorMsg}}</span>
                </div>
                <div data-alert="" class="error-msg incorrect-date-errormsg" ng-if="historyCtrl.filterDateIncorrectError">
                    <i class="fa fa-exclamation-triangle"></i> <span>{{historyCtrl.filterDateIncorrectErrorMsg}}</span>
                </div>
            </div>

            <div class="medium-1 columns">
                <button  class="button primary tiny" type="submit" ng-click="historyCtrl.filterEffort(historyCtrl.selectedFromDate,historyCtrl.selectedToDate)">Filter</button>
            </div>
        </div>
    </div>
    <p ng-if="noFilterData">There are no efforts recorded for filtered dates. Please change your dates and try again.</p>
    <div class="divHistoryTable"ng-if="!noDataError && !noFilterData">
        <div ui-grid="gridOptions" ui-grid-pagination class="gridStyle"></div>
    </div>
</div>