.divHistory{
  padding: 0 0 0 20px;
  .error-msg{
    color: red;
    font-size: 11px;
  }
  .missing-date-errormsg{
    max-width: 75rem;
    margin-left: auto;
  }
  .incorrect-date-errormsg{
    max-width: 64rem;
    margin-left: auto;
  }
  .datepicker{
    background: url("/assets/images/icon-calendar.png") no-repeat 98% 0;
  }
  .divHistoryFilter{
    label,input{
      display: inline;
    }
    .spanDash{
      margin-left: 6px;
    }
    .row{
      margin-left:0;
    }
    .medium-2{
    padding-left: 0;
  }
    input{
      width: 65%;
      height: 30px;
      margin-left: 10px;
      margin-bottom: 0;
    }
    /*input.datepicker{
      height: 25px;
      font-family: "abelregular";
      font-size: 15px;
      width: 43%;
    }
    .datepicker-header{
      float:left;
      margin-left:10px;
      width:11%;
      font-weight:bold;
    }
    .datepicker-label{
      float:left;
      width:3%;
    }
    .datepicker-input{
      float:left;
      width: 20%;
    }*/
  }

  .divHistoryTable{
    .gridStyle {
      border: 1px solid rgb(212,212,212);
      width: 100%;
    }
    .ui-grid-header-cell{
      font-weight: normal;
    }
    .ui-grid-pager-control .ui-grid-pager-max-pages-number{
      vertical-align: text-bottom;
    }
    .ui-grid-pager-panel{
      border: 1px solid #D4D4D4;
    }
    .ui-grid-pager-first,.ui-grid-pager-last{
      display: none !important;
    }
  }

}