<!DOCTYPE html>
<html lang="en" ng-app="workmanagement">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Work Management is a tool to log and track your day to day efforts. It helps us to keep track of our efforts.">
    <meta name="keywords" content="Briztlers,work,work management,management,efforts,efforts management,effort management,effort,task,task management">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="nXkjh9GkVjj89GfjsGa5bkmJlyhdrDfLZhPPxiH_FI8" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#v">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Work Management</title>
    <!--<base href="/">-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- inject:commoncss:css -->



    <link rel="stylesheet" href="/assets/min/css/common.min.css">



    <!-- endinject -->
<!--
    <link rel="stylesheet" href="app/bower_components/foundation/css/normalize.css"/>
    <link rel="stylesheet" href="app/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="app/bower_components/foundation-sites/dist/foundation-flex.css"/>
    <link rel="stylesheet" href="app/bower_components/datetimepicker/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="app/bower_components/angular-ui-grid/ui-grid.css"/>
    <link rel="stylesheet" href="app/bower_components/angular-chart.js/dist/angular-chart.css"/>
    <link rel="stylesheet" href="./assets/style/jquery.timepicker.css"/>

    <link rel="stylesheet" href="./app/styles/app.css"/>
-->
    <!-- inject:appcss:css -->




   <link rel="stylesheet" href="/assets/min/css/app.min.css">




   <!-- endinject -->
</head>
<body ng-controller="WorkManagementController as wmc">
<div ng-include="'app/common/layout/header.html'"></div>
<div ui-view class="main-content"></div>
<div ng-include="'app/common/layout/footer.html'"></div>
<div id="loadingModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/assets/images/ajax_loader.gif" alt="Loading...."/>
</div>
<div id="warningModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalWarningTitle" aria-hidden="true" role="dialog">
    <p id="modalWarningTitle">Your session will expire in 5 minutes.</p>
    <p>Please click Ok to extend your session.</p>
    <button  type="button" class="button primary small" ng-click="wmc.stayActive();">OK</button>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="timeoutModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTimeoutTitle" aria-hidden="true" role="dialog">
    <p id="modalTimeoutTitle float-center">Session timed out.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="dvLoading"></div>
<!-- inject:commonjs:js -->


<script src="/assets/min/js/common.min.js"></script>


<!-- endinject -->

<!--
<script src="app/bower_components/jquery/dist/jquery.js"></script>
<script src="app/bower_components/datetimepicker/jquery.datetimepicker.js"></script>
<script src="app/bower_components/angular/angular.js"></script>
<script src="app/bower_components/ng-idle/angular-idle.js"></script>
<script src="app/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="app/bower_components/foundation/js/vendor/modernizr.js"></script>
<script src="app/bower_components/foundation/js/foundation.js"></script>
<script src="app/bower_components/Chart.js/Chart.js"></script>
<script src="app/bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="app/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="app/bower_components/foundation-datepicker/js/foundation-datepicker.js"></script>
<script src="app/bower_components/moment/moment.js"></script>
<script src="app/bower_components/angular-ui-grid/ui-grid.js"></script>


<script src="./app/appconfiguration/app-modules.js"></script>
<script src="./app/appconfiguration/app.js"></script>
<script src="./app/appconfiguration/app-route.js"></script>
<script src="./app/appconfiguration/app.settings.js"></script>
<script src="./app/common/WorkManagementController.js"></script>
<script src="./app/common/WorkManagementService.js"></script>
<script src="./app/common/WorkManagementDirective.js"></script>
<script src="./app/login/loginController.js"></script>
<script src="./app/login/loginService.js"></script>
<script src="./app/dashboard/dashboardController.js"></script>
<script src="./app/dashboard/dashboardService.js"></script>
<script src="./app/logout/logoutController.js"></script>
<script src="./app/logout/logoutService.js"></script>
<script src="./app/create/createController.js"></script>
<script src="./app/create/createService.js"></script>
<script src="./app/create/createDirective.js"></script>
<script src="./app/history/historyController.js"></script>
<script src="./app/history/historyService.js"></script>
<script src="./app/profile/profileController.js"></script>
-->
<script src="./app/appconfiguration/ngFormSubmitDirective.js"></script>
<!-- inject:appjs:js -->




<script src="/assets/min/js/app.min.js"></script>




<!-- endinject -->
<script>
    $(document).foundation();
    moment().format();
</script>
<script src="./assets/script/jquery.timepicker.js"></script>
</body>
</html>