.dashboard-work-sheet {
  .left-col {
    width: 45%;
    padding-left:30px;
  }
  .right-col {
    width: 45%;
    padding-top:85px;
    canvas {
      width: 100% !important;
      max-width: 500px;
      height: auto !important;
    }
  }
  table{
    margin-top:30px;
    tr{
      td,th{
        border: 1px solid #333;
      }
      th{
        background-color:#97BBCD;
      }
    }
    tr:nth-child(even){
      background-color: #E9F0F4;
    }
  }
  .chart-section{
    padding-top: 80px;
  }
}