<div class="dashboard-work-sheet row  medium-unstack">
    <div data-alert class="alert-box large fa fa-exclamation-triangle page-level-error" ng-if="serviceError">
        <i class="fi-x"></i>
        <span>{{errorMsg}}</span>
    </div>
    <div data-alert class="alert-box success positive-message" ng-if="successMessage">
        <i class="fa fa-check-square-o"></i>
        <span>{{positiveMsg}}</span>
    </div>
    <div class="columns">
        <h2>Recent activity</h2>
        <p ng-if="noDataRet">No Recent activity found</p>
        <table summary="Tables display last 7 recent activities" ng-if="!serviceError && !noDataRet">
            <thead>
                <tr>
                    <th width="100" scope="col">Date</th>
                    <th width="50" scope="col">Total Hours</th>
                    <th width="100" scope="col">Status</th>
                    <th width="70" scope="col">Version</th>
                    <th width="200" scope="col">Last modified date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in recentActivity">
                    <td><a href="javascript:void(0);" ng-click="dashboardCtrl.showEffort(data.workDate);">{{data.workDate}}</a></td>
                    <td>{{data.hoursLogged}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.version}}</td>
                    <td>{{data.modifiedDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="columns chart-section" ng-if="!serviceError && !noDataRet">
        <canvas id="bar" class="chart chart-bar"
                chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true" chart-options="{scaleShowGridLines:false}">
        </canvas>
    </div>
    <div class="clear"></div>
</div>