.create-work-sheet{
  padding: 20px;
  .button.primary{
    background-color: #147cc0;
    color: #fff;
  }
  .button.success{
    background-color: green;
  }
  .button{
    font-size: 0.9em !important;
  }
  .error-msg{
    color: red;
    margin: 10px 0;
    font-size: 15px;
  }
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  .cal-sec{
    input.datepicker{
      height: 31px;
      font-family: "abelregular";
      font-size: 15px;
      width: 60%;
      background: url("/assets/images/icon-calendar.png") no-repeat 98% 0;
    }
    .datepicker-label{
      float:left;
      margin-right: 10px;
      label {
        font-size: 17px;
        line-height:24px;
      }
    }
    .datepicker-input{
      float:left;
    }
  }
  .effort-table{
    .first-col{
      float:left;
      width:50%;
    }
    .second-col{
      float:left;
      width:30%;
    }
  }
  .mrt-5{
    margin-right:5px;
  }
  .grid{
    width: 100%;
    min-height:250px;
    .ui-grid-render-container-body{
      .ui-grid-viewport{
        .ui-grid-row{
          .ui-grid-cell {
            border-bottom: 1px solid #9d9d9d;
            input{
              margin:0;
            }
          }
        }
      }
    }
  }
  #btnCreateTimeSheet{
    margin-top:20px;
    margin-left:40%;
  }
}
#freezeConfModal {
  #modalFreezeTitle {
    margin-top: 10px;
  }
  a.button{
    margin-left: 35%;
  }
}