<div data-alert class="alert-box large fa fa-exclamation-triangle page-level-error" ng-if="serviceError">
    <i class="fi-x"></i>
    <span>{{errorMsg}}</span>
</div>
<div data-alert class="alert-box success positive-message" ng-if="successMessage">
    <i class="fa fa-check-square-o"></i>
    <span>{{positiveMsg}}</span>
</div>
<div class="create-work-sheet">
    <div class="cal-sec" ng-show="createCtrl.currentState=='create'">
        <div class="datepicker-label"><label for="datepicker">Worksheet for</label></div>
        <div class="datepicker-input"><input type="text" class="datepicker" name="datepicker" id="datepicker" ng-model="createCtrl.selectedDate" readonly/></div>
        <div class="clear"></div>
    </div>
    <p  id="dataAlreadyExist" ng-if="createCtrl.existingDate && !serviceError">The Date selected is already having efforts saved. To view, Please <a href="javascript:void(0);" ng-click="createCtrl.viewEffort(createCtrl.selectedDate);">click here</a></p>

    <div class="effort-table" ng-if="createCtrl.existingDate===false && !serviceError && createCtrl.selectedDate!=''">
        <div class="mbtm-15"  ng-hide="createCtrl.currentState=='create'">Worksheet for <b>{{createCtrl.selectedDate}}</b>:</div>
        <div class="mbtm-15">
            <ul class="stack-for-small button-group">
                <li><a class="button primary tiny" ng-click="createCtrl.loadEffortTable();" ng-if="!isReadMode" href="javascript:void(0);"><i class="fa fa-plus mrt-5"></i>Add Effort</a></li>
                <li><a class="button primary tiny" ng-click="createCtrl.enableTableEdit();" ng-if="isReadMode && createCtrl.isEditable" href="javascript:void(0);">Edit</a></li>
                <li class="hide" id="divDeleteEffortbtn"><a class="button alert tiny" ng-click="createCtrl.deleteRows();" href="javascript:void(0);">Delete</a></li>
            </ul>
        </div>
        <div data-alert="" class="error-msg hide" ng-hide="!gridOptions.data.length">
            <i class="fa fa-exclamation-triangle"></i> <span></span>
        </div>
        <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-selection ui-grid-auto-resize class="grid" ng-if="gridOptions.data.length" ng-style="createCtrl.getTableHeight()"></div>
        <ul id="btnCreateTimeSheet" class="round button-group hide" ng-hide="!gridOptions.data.length">
            <li><a href="javascript:void(0);" class="button success tiny"  data-reveal-id="freezeConfModal" id="btnFreezeEffort">Freeze Effort</a></li>
            <li><a href="javascript:void(0);" class="button primary tiny" id="btnSaveEffort" ng-click="submitEffort('Save');">Save Effort</a></li>
            <li><a href="javascript:void(0);" class="secondary button tiny" ng-click="createCtrl.cancelEfforts()">Cancel</a></li>
        </ul>
    </div>
    <div class="reveal-modal small" id="divCancelModal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Confirm cancellation</h2>
        <p>Are you sure to cancel?. All the efforts which are not saved will be lost</p>
        <div class="modal-btn">
            <a href="javascript:void(0);" class="button primary round tiny" ng-click="cleareffort()">Yes</a>
            <a href="javascript:$('#divCancelModal').foundation('reveal','close');" class="secondary button round tiny">No</a>
        </div>
    </div>
    <!--<p>{{gridOptions.data | json}}</p>-->
    <div class="small reveal-modal" id="freezeConfModal" data-reveal aria-labelledby="modalFreezeTitle" aria-hidden="true" role="dialog">
        <h2 id="modalFreezeTitle">Freeze worksheet</h2>
        <p>Frozen worksheets cannot be edited in future. Please confirm to freeze your worksheet for {{createCtrl.selectedDate}}</p>
        <a href="javascript:void(0);" class="button primary round tiny"  id="btnConfFreezeEffort" ng-click="submitEffort('Freeze');">Freeze Effort</a>
        <a class="close-reveal-modal" aria-label="Close" href="javascript:void(0);">&#215;</a>
    </div>
</div>