@import "../common/layout/layout";
@import "../login/login";
@import "../create/create";
@import "../dashboard/dashboard";
@import "../history/history";
@import "../profile/profile";
html,body
{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body{
  font-family: Helvetica, Roboto, Arial, sans-serif;
  position: relative;
  #loadingModal{
    text-align: center;
  }
  h2{
    font-size:2em;
  }
  .logout-module{
    margin-top: 20px;
  }
  .close-reveal-modal{
    font-size:2rem !important;
  }
  .color-red{
    color:red;
  }
  .mbtm-15{
    margin-bottom: 15px;
  }
  .mbtm-10{
    margin-bottom: 10px;
  }
  #dvLoading{
    background:transparent url(/assets/images/newloading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    display: none;
}

  .button.tiny{
    padding: 0.75em 1em;
    font-size: 0.8em;
  }
  .button.round {
    border-radius: 10px;
  }
  .page-level-error{
    padding: 15px;
    background-color: #E53935;
    color: #FFF;
    font-size: 1.2em;
    border: none;
  }
  .positive-message{
    font-size: 1em;
  }
  .main-content{
    margin: 0 0 40px;
    min-height: 60%;
  }
  .clear{
    clear: both;
  }
  a:hover,a:focus{
    color:#0000EE;
    text-decoration: underline;
  }
  .fl-lt{
    float:left;
  }
  .fl-rt{
    float:right;
  }
  .ada-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  .clear{
    clear:both;
  }
  .errorfield{
    color:red;
  }
}